@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components { 
  .flex_item-start {
    @apply flex flex-col items-start justify-center
  }
  .nav-transition{
    @apply transition-all duration-200
  }
  .nav-option{
    @apply text-steel-gray
  }

}

.bg-custom-gradient-green{
  background: linear-gradient(65deg, #01A982 29.4%, #01A982 36.24%, #1CD3A8 44.6%, #01A982 54.09%, #01A982 105.37%);
  background-position: 99% 50%;
  background-size: 220% 200%;
  transition: background-size 0.5s;
}
.bg-custom-gradient-green:hover {
  background-size: 100% 100%;
}

