@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer components { 
  .flex_item-start {
    @apply flex flex-col items-start justify-center
  }
  .nav-transition{
    @apply transition-all duration-200 ease-in
  }
  .nav-option{
    @apply text-steel-gray
  }
  input[type='range'] {
    @apply w-full h-4 rounded-lg appearance-none cursor-pointer;
  }
  .home-box-element {
    @apply block text-sm bg-[rgba(255,252,252,0.46)] rounded-xl
  }
  /* .color-wheel-circle {
    @apply w-8 aspect-square
  } */

}

.bg-custom-gradient-green{
  background: linear-gradient(65deg, #01A982 29.4%, #01A982 36.24%, #1CD3A8 44.6%, #01A982 54.09%, #01A982 105.37%);
  background-position: 99% 50%;
  background-size: 220% 200%;
  transition: background-size 0.5s;
}
.bg-custom-gradient-green:hover {
  background-size: 100% 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none;      /* For Firefox */
}

.login-divider-or {
  position: relative;
}
.login-divider-or::before {
  position: absolute;
  content: '';
  left: 0;
  right: calc(50% + 0.75rem);
  top:50%;
  height: 0.5px;
  background: rgba(255, 255, 255, 0.20);
}
.login-divider-or::after {
  position: absolute;
  content: '';
  left: calc(50% + 0.75rem);
  right: 0;
  top:50%;
  height: 0.5px;
  background: rgba(255, 255, 255, 0.20);
}


.color-wheel {
  position: absolute;
  right: 10%;
  height: 100%;
}  /* need to be updated */

.eclipse-1{
    position: absolute;
  width: 15rem;
  aspect-ratio: 1;
  background: rgba(151, 71, 255, 0.3);
  filter: blur(150px);
  top: 0;
  left: 0;
} /* need to be updated */

.eclipse-2 {
  position: absolute;
    width: 15rem;
    aspect-ratio: 1;
    background: rgba(28, 211, 168, 0.3);
    filter: blur(150px);
    /* bottom: 0; */
    right: -52%;
    bottom: 10%;
} /* need to be updated */


.eclipse-3{
  position: absolute;
  width: 15rem;
  aspect-ratio: 1;
  /* bottom: 0; */
  right: 20%;
  bottom: -58%;
  background: rgba(255, 255, 71, 0.3);
  filter: blur(150px);
} /* need to be updated */


@keyframes rotate-wheel {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
} /* need to be updated */
.custom-range::-moz-range-thumb {
  width: 1.7rem;
  height: 1.7rem;
  background: #00A881;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
} 
